<div class="row">
  <div class="col-md-2 d-none d-md-block">
    <div
      id="trash"
      style="padding: 5px; margin-bottom: 15px; height: 100px"
      class="text-center"
    >
      <div>
        <!-- <ion-icon name="trash" style="font-size: 300%"></ion-icon> -->
      </div>
      <div>
        <span>Drop here to remove!</span>
      </div>
    </div>
    <div
      class="newWidget grid-stack-item"
      style="width: 100%; margin-bottom: 15px"
    >
      <div style="padding: 5px">
        <div>
          <app-primeng-btn label="Hello World"></app-primeng-btn>
        </div>
      </div>
    </div>
  </div>

  <div
    class="newWidget grid-stack-item"
    style="width: 100%; margin-bottom: 15px"
  >
    <div style="padding: 5px">
      <div>
        <app-primeng-table [tableData]="products"></app-primeng-table>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-10">
    <div class="grid-stack"></div>
  </div>
</div>
